#%RAML 0.8
 
title: Technology Radar API
baseUri: http://api.com/{version}
version: v1
securitySchemes:
    - oauth_2_0:
        description: |
            API supports OAuth 2.0 for authenticating all API requests.
        type: OAuth 2.0
        describedBy:
            headers:
                Authorization:
                    description: |
                       Used to send a valid OAuth 2 access token. Do not use
                       with the "access_token" query string parameter.
                    type: string
            queryParameters:
                access_token:
                    description: |
                       Used to send a valid OAuth 2 access token. Do not use together with
                       the "Authorization" header
                    type: string
            responses:
                401:
                    description: |
                        Bad or expired token. This can happen if the user or API
                        revoked or expired an access token. To fix, you should re-
                        authenticate the user.
                403:
                    description: |
                        Bad OAuth request (wrong consumer key, bad nonce, expired
                        timestamp...). Unfortunately, re-authenticating the user won't help here.
        settings:
          authorizationUri: https://api.com/1/oauth2/authorize
          accessTokenUri: https://api.com/1/oauth2/token
          authorizationGrants: [ code, token ]
traits:
  - paged:
      queryParameters:
        pages:
          description: The number of pages to return
          type: number
/bands:
  is: [ paged ]
    get:
      securedBy: [null, oauth_2_0]
      description: |
        Lists valid technology adoption bands
      responses:
        200:
          body:
            application/json:
              schema: |
                { "$schema": "http://json-schema.org/schema",
                  "type": "object",
                  "description": "An adoption band",
                  "properties": {
                    "name":  { "type": "string" }
                  }
                }
    delete:
      description: |
        This method will *delete* a **band**
